/* Variables */
:root{
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --back-button: rgb(48, 47, 47);
    --back-cont: rgb(238, 238, 238);
    --back-color: #F2F2F2;
    --border-button: rgb(201, 201, 201);
    --box-shadow: 0 3px 10px rgb(173, 173, 173); 
}

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", Helvetica, sans-serif;
}

.container{
    max-width: 1100px;
    margin: auto;
    border: 1px solid rgb(216, 216, 216);
    
}

.heading--h1{
    font-size: 1.2em;
}

.heading--h2{
    font-size: 1.1em;
    font-weight: 700;
}

.heading--h3{
    font-size: 0.8em;
    font-weight: 700;
}

.heading--h4{
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 15px;
}

.text{
    font-size: 0.8em;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

strong{
    font-weight: 600;
}

/* SECTION HEADER */

.header{
    display: flex;
    align-items: center;
    margin: 25px 0;
    padding: 0 40px;
}

.logo{

}

.logo__img{
    width: 120px;
    height: auto;
}

.barnav{
    margin-left: auto;
    display: flex;
}

.barnav__a{
    margin-right: 40px;
    flex: 1 1 auto;
    text-decoration: none;
    font-weight: 200;
    color: var(--primary-color);
    transform: scale(1);
    transition: transform 250ms;
}

.barnav__a:hover{
    transform: scale(1.1);
    color: black;
}

.barnav__a--activ{
    color: black;
}

.inscri__a{
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
    transform: scale(1);
    transition: transform 250ms;
}

.inscri__a:hover{
    color: black;
    transform: scale(1.1);
}

/* SECTION RECHERCHE */ 

.recherche{
    padding: 0 40px;
}

.text--recherche{
    margin: 10px  0 15px 0;
}
        /* RECHERCHE / FORM */
.form{
    max-width: 400px;
    height: 40px;
    margin-bottom: 25px;
    display: flex;
    align-items: stretch; 
}

.form > *{
    padding: 5px 10px;
    margin: 0;   
}

.form__map{
    background: var(--border-button);
    border-radius: 10px 0 0 10px;
}

.fa-map-marker-alt{
    margin-top: 5px;
}

.form__input{
    flex: 0 1 auto;
    outline: none;
    border: 0.5px solid var(--border-button);
    font-weight: bold;
    font-size: 0.9em;
}

.loupe{
    background: url(images/Icones/search-solid.svg)no-repeat;
    background-size: 50%;
    background-position: center center;
      
}

@media (min-width: 768px){
    .loupe{
        display: none;
    } 
} 

.loupe__submit{
    opacity: 0;
    cursor: pointer;
}

.form__submit{
    margin: 0;
    flex: 1 1 auto;
    border: none;
    border-radius: 0 10px 10px 0;
    background: var(--primary-color);
    color: white;
    font-size: 0.9em;
    cursor: pointer;
}

@media (max-width: 750px){
    .form__submit{
        display: none;
    }
}
        /* RECHERCHE / FILTRE */
.filtre{
    height: 35px;
    margin-bottom: 25px;
    display: flex;
    align-items: stretch;
}

.filtre > *{
    margin-right: 30px;  
}

@media (min-width: 768px) and (max-width: 834px){
    .filtre > *{
        margin-right : 15px
    }
}

.text--filtre{
    line-height: 30px;
    font-size: 0.9em;
    font-weight: bold;
}

.filtre__button{
    display: flex;
    align-items: center;
    border: 1px solid var(--border-button);
    border-radius: 25px;
    padding: 5px 10px 5px 0;
    transition: border 250ms;
}

.filtre__button:hover{
    border: 1px solid var(--primary-color);
}

.filtre__button__div{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--secondary-color);
    outline: 2px solid var(--secondary-color);
    
    
}

.fas--filtre{
    color: var(--primary-color);
    font-size: 12px;
}
        /* RECHERCHE / COMPTE */

.compte{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.info{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info{
    font-size: 10px;
    color: var(--primary-color);
}

.text--compte{
    margin-left: 10px;
}

/* SECTION PRESENTATION */

        /* PRESENTATION / HEBERGEMENT */
.hebergement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 40px;
}

@media (min-width: 767px) and (max-width: 1099px){
    .hebergement{
        flex-direction: column;
    }
}

.marseille{
    width: 68%;
    height: 480px;
    padding: 30px 25px;
    background: var(--back-cont);
    border-radius: 15px;
}

@media (min-width: 767px) and (max-width: 1099px){
    .marseille{
        width: 100%;
    }
}

.heading--h2--marseille{
    margin-bottom: 20px;
}

.hebcont{
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 160px 160px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.hebcard{
    padding: 3px;
    background: white;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    cursor: pointer;  
}

.hebcard:hover{
    opacity: 0.9;
}

.hebcard__top{
    border-radius: 15px 15px 0 0;
}

.hebcard__top1{
    width: 100%;
    height: 60%;
    background: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.hebcard__top2{
    width: 100%;
    height: 60%;
    background: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.hebcard__top3{
    width: 100%;
    height: 60%;
    background: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.hebcard__top4{
    width: 100%;
    height: 60%;
    background: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.hebcard__top5{
    width: 100%;
    height: 60%;
    background: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.hebcard__top6{
    width: 100%;
    height: 60%;
    background: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.hebcard__bottom{
    padding: 8px 10px 5px 10px;
}

.text--hebcard{
    font-size: 0.7em;
}

.fa-star{
    font-size: 0.6em;
    color: var(--primary-color);
}

.fa-star--opa{
    opacity: 0.2;
    color: inherit;
}

.text--marseille{
    font-size: 0.85em;
    font-weight: bold;
}

        /* PRESENTATION / POP */

.pop{
    width: 29%;
    height: 480px;
    padding: 30px 25px;
    background: var(--back-cont);
    border-radius: 15px;
}

@media (min-width: 767px) and (max-width: 1099px){
    .pop{
        width: 100%;
        margin-top: 25px;
    }
}

.poptitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popcont{
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 110px 110px;
    grid-row-gap: 20px;
}

.popcard{
    padding: 3px;
    display: flex;
    background: white;
    border-radius: 15px; 
    box-shadow: var(--box-shadow); 
    cursor: pointer;
}

.popcard:hover{
    opacity: 0.9;
}

.popcard__left{
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.popcard__left1{
    background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.popcard__left2{
    background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.popcard__left3{
    background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.popcard__right{
    width: 60%;
    height: 100%;
    padding: 10px 20px 7px 7px;
    display: flex;
    flex-direction: column;

}

.heading--h3--pop{
    margin-bottom: 5px;
}

.note--pop{
    margin-top: auto;
}

/* SECTION ACTIVITES */

.activ{
    margin-bottom: 40px;
    padding: 0 40px;
}
.activ__cont{
    margin-top: 25px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: 
    "port pom cal gar"
    "port pom cal gar"
    "port pom cal gar"
    "port pom cal gar"
    "port pom cal gar"
    "port pom cal lon"
    "port fri cal lon"
    "port fri cal lon"
    "port fri cal lon"
    "port fri cal lon";
}

@media (min-width: 767px) and (max-width: 1099px){
    .activ__cont{
        
    }
}

.activcard{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.activcard:hover{
    opacity: 0.9;
}

.activcard--top{
    flex: 1 1 auto;
    border-radius: 15px 15px 0 0 ;
}
.activcard--bottom{
    height: 45px;
    padding: 15px 10px;
}

.activcard--port{
    grid-area: port;  
}

.activcard--port__top{
    background: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) no-repeat center center;
    background-size: 200%;   
}

.activcard--pom{
    grid-area: pom;
}

.activcard--pom__top{
    background: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat center 40%;
    background-size: cover;
}

.activcard--fri{
    grid-area: fri;
}

.activcard--fri__top{
    background: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) no-repeat center 30%;
    background-size: 100%;
}

.activcard--cal{
    grid-area: cal;
}

.activcard--cal__top{
    background: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) no-repeat center center;
    background-size: 250%;
    filter: brightness(140%);
}

.activcard--gar{
    grid-area: gar;
}

.activcard--gar__top{
    background: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) no-repeat center 20%;
    background-size: cover;
}

.activcard--lon{
    grid-area: lon;
}

.activcard--lon__top{
    background: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat center 30%;
    background-size: 110%;
    filter: brightness(110%);
}

/* SECTION FOOTER */

.footer{
    height: 190px;
    background: var(--back-cont);
}

.footer__cont{
    display: flex;
    padding: 40px;
}

.footer__div{
    margin-right: 150px;
}

.footer__a{
    line-height: 25px;
}